<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>212591460863-n7akhq83g09v5f8r27iegmbqm7jk5m1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212591460863-n7akhq83g09v5f8r27iegmbqm7jk5m1f</string>
	<key>API_KEY</key>
	<string>AIzaSyCVWMZoehAnWQA40KdWQRui2j9xX9tV5Ts</string>
	<key>GCM_SENDER_ID</key>
	<string>212591460863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chenders.gameofchats</string>
	<key>PROJECT_ID</key>
	<string>gameofchatsmessenger</string>
	<key>STORAGE_BUCKET</key>
	<string>gameofchatsmessenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212591460863:ios:657e5c494696feda</string>
	<key>DATABASE_URL</key>
	<string>https://gameofchatsmessenger.firebaseio.com</string>
</dict>
</plist>